---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const blogCollection = await getCollection('blog');
---

<Layout>
	{
		blogCollection.map((post: any) => (
			<p>{post.data.date} - {post.data.title}</p>
		))
	}
</Layout>
